openslide-python
scikit-learn
scikit-image
scipy
opencv-python
pandas
tqdm
itk
matplotlib
mahotas
pandas
jupyterlab
zarr
tifffile
h5py
segmentation-models-pytorch==0.1.0
networkx==2.8.7
libpysal
Pillow
shapely
staintools
albumentations
spams-bin
toml
numcodecs
imagecodecs
timm==0.9.6
geojson
pylibCZIrw
numpy==1.24.4
zarr==2.18.3
numcodecs==0.10.2